.category_item{
    background: #fde4e4;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}



.category_item:hover{
    transform: translateY(-15px);
}

@media only screen and (max-width:768px){
    .category_item{
        padding: 15px 20px;
    }
    
    .catgory_img img{
        width: 40px;
        height: 40px;
    }
    
    .category_item h6{
        font-size: 0.8rem;
    }
}