.cella {
    /* justify-content: center !important;
    line-height: 50px !important;
    height: 50px !important; */
    vertical-align: middle;
    font-family: "RocknRoll One", sans-serif !important;
    font-size: 0.7rem !important;
}